


<div class="container-tit">
  <div class="row">
    <div class="col-lg-6 offset-lg-3">
        <div class="text-center" >
          <h1 class="title">Simple contact form</h1>
        </div>
      </div>
  </div>
</div>







<div class="container">
  <div class="row">
    <div class="col-lg-6 offset-lg-3">
      <div class="local_container">
          <p class="title_stupid">Welcome to "The stupid coach program" Please enter your question or anything you want below ▽ </p>
          <form class="form" action="/answer">
            <input class="input" type="text" name="question">
            <input class="submit" type="submit" value="Ask!">
          </form>
      </div>
    </div>
  </div>
</div>


<!-- <div class="local_container">
      <h1 class="title_stupid">Stupid Coaching</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4 offset-lg-4">
      <form class="form" action="/answer">
        <input type="text" name="question">
        <input type="submit" value="Ask!">
      </form>
    </div>
  </div>
</div>
 -->
